@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: beige;
    color: #393838;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center !important;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

button{
    background-color: #557999;
    color: #fff;
    padding: 1rem;
    border-radius: 4px;
    border: none;
    font-family: inherit;
    font-size: 1.3rem;
}

.popup-container{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);

    display: none;
    align-items: center;
    justify-content: center;

}
.popup-container.active{
    display: flex;
}





.popup{
    position: relative;
    background-color: #fff;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    padding: 2rem;
    width: 500px;
    border-radius: 5px;

}

.popup button{
    background-color: #fff;
    color: #393838;
    font-size: 1.5rem;
    position: absolute;
    top: 10px;
    right: 10px;
}































