*{
    padding: 0;
    margin: 0;

}

.box {
    box-sizing: border-box;

    width: 400px;
    height: 350px;

    background-color: #f1f1f5;
    overflow: scroll;

    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
}

.btn{
    display: flex;
    width: 60px;
    text-align: center;
    background-color: lightslategray;
    padding: 5px;
    color: #2f363c;
    border-radius: 5px;
    font-weight: 400;
    cursor: pointer;
    justify-content: center;
}