*{
    padding: 0;
    margin: 0;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn{
    display: flex;
    min-width: 250px;
    text-align: center;
    background-color: lightslategray;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
    font-size: 2em;
    font-weight: 700;
    cursor: pointer;
    justify-content: center;
    margin-top: 250px;
}