@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;

    background-color: lightslategrey;
    overflow: hidden;
    margin: 0;
}

button{
    position: relative;

    color: black;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;

    background-color: antiquewhite;
    border: 1px solid antiquewhite;
    border-radius: 5px;

    padding: 20px 30px;
    margin: 10px 0;
    overflow: hidden;
}

button:focus{
    outline: none;
}

button .circle{
    position: absolute;
    background-color: #313335;

    width: 100px;
    height: 100px;
    border-radius: 50%;

    transform: translate(-50%, -50%) scale(0);
    animation: scale 0.5s ease-out;
}

@keyframes scale {
    to{
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}






















