.modal-parent{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: none;
}
.modal{
    background: #fff;
    width: 70%;
    padding: 30px;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    font-family: arial;
    position: relative;
    animation: 1s drop;
}
@keyframes drop {
    0%{
        top: -100px;
    }
    100%{
        top: 50%;
    }
}

.closeBtn{
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 30px;
    cursor: pointer
}
section{
    transition: 2s;
}
