:root {
    --mainWhite: #fff;
    --mainGreen: #7fb800;
    --mainBlue: #0d2c54;
    --lightBlue: #00a6ed;
    --mainBlack: #5f5c5c;
    --mainGrey: #5F5C5C;
}

.max-height{
    min-height: 100vh;
}

body{
    background: url("../img/main-bcg.jpg") center/cover no-repeat ;
    color: var(--mainWhite);
}

.main-container{
    border: 0.1rem solid var(--mainWhite);
    box-shadow: 0 0.5rem 0.5rem rgba(0,0,0, 0.9);
    border-radius: 0.2rem;
}

#counter{
    font-size: 10rem;
    color: var(--mainGrey);
}

.prevBtn,
.nextBtn{
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.9);
    background: var(--mainBlue);
    color: var(--mainWhite);

}

.prevBtn:hover{
    background: var(--mainGrey);
    color: var(--mainWhite);
}

.nextBtn:hover{
    background: var(--mainGrey);
    color: var(--mainWhite);
}
































